* {
    padding: 0px;
    margin: 0px;
}
.display-calculator {
    background-color: #EA3226;
    border: 1px solid red;
    border-radius: 5px;
    height: 100px;
    width: 400px;
    position: relative;
    left: 370px;
}
.display-number{
    width: 500px;
    padding: 10px;
    background-color: red;
    font-weight: 500;
    font-size: 50px;
    border: none;
    display: flex;
    flex-direction: row-reverse;
    background: transparent;
}
input, select, textarea {
    color: #5C5757;
    font-weight: 800;
    font-size: 50px;
}
.number-calculator {
    background-color: #FEFEFE;
    border: 1px solid #FEFEFE;
    height: 400px;
    width: 400px;
    position: relative;
    left: 370px;
}
button:focus {
    border: none;
    outline: none;
  }
.number-calculator button{
    background-color: rgb(184, 184, 184);
    border: none;
    padding: 20px;
    color: #5B5656;
    border-radius: 22px;
    font-size: 22px;
    font-weight: 800;
    cursor: pointer;
    margin-left: 20px;
    position: relative;
    top: 10px;
}